.header{
  margin: auto;
  max-width: 880px;
  height: 100px;
  border: 1px;
  border-bottom-style: solid;
  border-bottom-color: white;
  justify-self: center;


}
.header__logo{
  margin-top: 45px;
  width: 173px;
  height: 33px;
  padding: 0px 16px;

}
@media screen and (max-width: 320px) and (min-width: 1280px){
  .header{
    margin: auto 24px;

  }
  .header__logo{
    margin: 20px 40px;
    width: 150px;
    height: 28px;
    padding:16px 16px;
  }
}


