.popup{
  display: none;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8); /* fondo semitransparente */
  z-index: 100;
  justify-content: center;
  align-items: center;
}
.popup__set{
  border: none;
  background-color: white;
  border-radius: 12px;
}
.popup__image-container{
  position: relative;
  z-index: 1;
}
.popup__image{
  justify-self: center;
  max-height: 75vh;
  max-width: 75vw;
  margin: 6px auto;
  padding-top: 4px;

}
.popup__image-item{
  margin: auto;
  padding-top: 16px;
}
.popup__close-button{
  position: absolute;
  top: -8px;
  right: 2px;
  background-image: url('../images/close-icon.png');
  width: 28px;
  height: 28px;
  justify-content: end;
  background-color: transparent;
  border-style: none;
  margin-bottom: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popup__close-button:hover{
  background-image: url('../images/close-icon-hover.png');
  width: 24px;
  height: 24px;
}
.popup__container{
  position: relative;
  background-color: transparent;
  margin: auto;
  padding:24px 24px 0;
  font-family: 'Inter', sans-serif;
  width: 36vw;
  height: auto;
}
.popup__title{
  font-weight: 900;
}
.popup__input-name{
  border-style: none;
  padding:20px 0px;
  margin: auto;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom: solid;
  border-bottom-color: rgb(199, 190, 190);
}
.popup__input-about{
  border-style: none;
  padding:20px 0px;
  margin: auto;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom: solid;
  border-bottom-color: rgb(199, 190, 190);
}
.popup__save-button{
  width: 100%;
  padding: 12px;
  margin: 30px 0px 20px;
  background-color: rgb(45, 45, 47);
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  color: white;
  justify-self: center;
  font-size: 18px;
  cursor: pointer;
}
.popup__save-button:hover{
  background-color: rgb(91, 98, 103);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.popup__save-button-disabled{
   border-color: rgb(232, 232, 232);
   background-color: rgb(47, 48, 50);
   color:rgb(255, 255, 255);
}
.popup__input-error {
  font-size: 12px;
  color: red;
  margin-top: 4px;
  display: block;
}
.popup__input_type_error {
  border-bottom: 1px solid #f00;
}
.popup__image-title{
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 4px;
  color: white;
}
.popup_is-opened {
  /* visibility: visible;
  opacity: 1; */
  display: flex;
}

@media screen and (max-width: 767px){
  .popup__container{
    width: 80vw;
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px){
  .popup__container{
    width: 50vw;
  }
}